* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin: unset;
    padding: unset;
    border: unset;
    box-sizing: border-box;
    color: #f2f2f2;

}

/* NO USAR MARGIN */

.backgroud {
    padding: 14px 50px;
    background-image: url(/assets/fondo\ jumbotrom\ 1.jpg);
    background-size: cover;
    /* si se usa un tamaño fijo la imagen se repite */
    background-repeat: no-repeat;
    /*permite elegir si la imagen se repite */
    background-position: center;
}

.navbar {
    padding: 30px 60px;
    background-color: #0d0c0c48;
    backdrop-filter: blur 20px;
}

.navbar__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: auto;

}

.navbar__nav__list {
    display: flex;
    gap: 58px;
    list-style: none;

}

.navbar__nav__button {
    padding: 20px 30px;
    background-color: #17261E;
    font-weight: bold;
}

.jumbotrom {
    display: flex;
}

.jumbotrom__title {
    padding: 0px 60px;
}

.jumbotrom__title__text {
    font-size: 56px;
    font-weight: bold;
    line-height: 110%;
}

.jumbotrom__p {
    padding: 10px 10px;

}

.jumbotrom__p__text {
    font-size: 56px;
    font-weight: bold;
    line-height: 110%;
}

.main {
    gap: 25px;
}

.main__cont {
    gap: 25px;
}

.main__cont__title {
    gap: 20px;
    padding: 21px 60px;
}

.main__cont__title__text {
    font-size: 32px;
    font-weight: bold;
}