*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin: unset;
    padding: unset;
    border: unset;
    box-sizing: border-box;

}


h1{
    font-size: 56px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}